body {
  margin: 0px;
}

.calenderButton {
  margin: 5px;
}

.calenderDropdownMonth {
  height: 30px;
  width: 60px;
}

.calenderButtonWrapper {
  display: inline-block;
  text-align: center;
}

.calenderButtonWrapperSpan {
  float: right;
  color: red;
}

.EmployeeList{
  width: 80%;
  
}

.EmployeeCard {
  display: flex;
  border-style: groove;
  border-color: lightsteelblue;

}

span.name{
  color: darkslategray;
  width: 20%
}

span.workdays{
  width: 10%
}
span.positions{
  width: 40%
}