.calenderButton {
  margin: 5px;
}

.calenderDropdownMonth {
  height: 30px;
  width: 60px;
}

.calenderButtonWrapper {
  display: inline-block;
  text-align: center;

} 

.calenderButtonWrapperSpan  {
  float: right;
  color: red

}